body{
	padding: 0;
	margin: 0;
	font-family: 'Pangolin', cursive;
}
label{
	color: white;
	font-size: 20px;
}
form{
	/*background-color: #262626;*/
	background-color: rgba(0,0,0,0.3);
	/*box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);*/
	border:2px solid #ff6f69;
}
input{
	padding: 2px;
	outline: none;
	border-radius: 2px;
	border:none;
}